{% extends 'admin-list-layout.html' %}

{% block table_head %}
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th></th>
    </tr>
{% endblock %}

{% block table_body %}
    {% for speaker in speakers %}
        <tr>
            <td>{{ speaker.first_name }} {{ speaker.last_name }}{% if speaker.second_last_name %} {{ speaker.second_last_name }}{% endif %}</td>
            <td>{{ speaker.city }}, {{ speaker.state }}, {{ speaker.country }}</td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}
